/* COLORS */

:root {
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */
  --darkblue: hsl(234, 12%, 34%);
  --greyblue: hsl(229, 6%, 66%);
  --lightgrey: hsl(0, 0%, 98%);
}

html {
  background-color: var(--lightgrey);
  color: var(--darkblue);
}

body {
  min-height: 100vh;
  padding: 2.2rem;
  margin: 2.2rem auto;
  font-family: "Poppins";
  font-size: 0.9rem;
}

.container {
  display: grid;
}

.header {
  text-align: center;
  margin: 0 auto;
}

.title {
  font-weight: 200;
}

.title-powered {
  font-weight: 600;
  margin-bottom: 1rem;
}

.title-desc {
  color: var(--greyblue);
  margin-bottom: 4rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.cards {
  display: grid;
  place-content: center;
}

.card {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: var(--lightgrey);

  max-width: 325px;
  border-radius: 5px;
  box-shadow: 1px 1px 14px var(--greyblue);
}

.card-tag {
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.card-desc {
  color: var(--greyblue);
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}

.card--supervisor {
  border-top: 4px solid var(--cyan);
}

.card--team-builder {
  border-top: 4px solid var(--red);
}

.card--karma {
  border-top: 4px solid var(--orange);
}

.card--calculator {
  border-top: 4px solid var(--blue);
}

.footer {
  display: grid;
  place-content: center;
  color: var(--darkblue);
  font-size: 0.6rem;
}

/* DESKTOP VIEW */
@media (min-width: 64em) {
  body {
    font-size: 1.4rem;
  }

  .title-desc {
    width: 500px;
  }

  .cards {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(4, 125px);
    justify-content: center;
    /* gap: 0.6rem; */
    /* row-gap: 0.8rem; */
  }

  .card {
    padding: 30px;
    height: 230px;
  }

  .card-tag {
    font-size: 1.3rem;
  }

  .card--supervisor,
  .card--calculator {
    grid-row: 2 / 4;
  }

  .card--team-builder {
    grid-row: 1 / 3;
  }

  .card--karma {
    grid-row: 3 / 5;
  }

  .footer {
    margin-top: 50px;
  }
}

/* @media; */

/*  TABLET VIEW */

/* @media (min-width: 47em) and (max-width: 63em) {
  .cards {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
  }
} */
